body {
  background-color: var(--backgroundColour);
  color: var(--textColour);
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #222f3e;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  color: #73a5f5;
}

header a {
  display: inline-block;
  color: #73a5f5;
}

header a:hover {
  text-decoration: none;
  color: white;
}

div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#flex {
  display: flex;
  flex-wrap: wrap;
}

#headerButtons {
  display: flex;
  justify-content: flex-end;
}

#headerButtons a {
  margin: 0 auto;
}

#toggleThemeBtn {
  border-radius: 1em;
}


