{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div>
            <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                        
                    {{ form.fullName1.label }} {{ form.fullName1 }}

                    {{ form.firstSect1.label }} {{ form.firstSect1  }}

                    {{ form.secondSect1.label }} {{ form.secondSect1 }}

                    {{ form.thirdSect1.label }} {{ form.thirdSect1 }}

                    {{ form.fourthSect1.label }} {{ form.fourthSect1 }}

                    <div id="flex">
                        <div class="textGroup">
                            {{ form.firstText1.label }} {{ form.firstText1(rows="7") }}
                        </div>

                        <div class="textGroup">
                            {{ form.secondText1.label }} {{ form.secondText1(rows="7") }}
                        </div>

                        <div class="textGroup">
                            {{ form.thirdText1.label }} {{ form.thirdText1(rows="7") }}
                        </div>    
                        
                        <div class="textGroup">
                            {{ form.fourthText1.label }} {{ form.fourthText1(rows="7") }}
                        </div>
                    </div>

                        <br/>
                    
                    {{ form.image }}

                    {{ form.submit() }}
                
            </div>
            </form>
        </div>
    </main>
{% endblock %}