{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">
{% endblock %}

{% block content %}
    
<main>
    <div>
        <div id="flex">
            <div class="formGroup">
                <form action="{{url_for('viewPage')}}" target="_blank">
                    <input type="submit" value="View page in Web Browser">
                </form>
            </div>

            <div class="formGroup">
                <form action="{{url_for('downloadPage')}}">
                    <input type="submit" value="Download the HTML file">
                </form>
            </div>
            <p><a href="{{url_for('index')}}"> Cancel </a></p>
        </div>
    </div>
</main>
{% endblock %}